@import "../../scss/_mixins.scss";
@import "../../scss/_variables.scss";

.container {
    @include flex;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    padding: 80px 40px;

    .userProfil {
        @include flex;
        @include shadow;
        width: 100%;
        flex-direction: column;
        padding: 20px;
        border-radius: 5px;

        .userButton {
            display: flex;
            justify-content: flex-end;

            .btn {
                @include btn;
                display: flex;
                justify-content: center;
                font-size: 1em;
                padding: 10px;
                margin-left: 10px;
                width: 36px;
                height: 36px;
            }
        }

        .cover {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;

            .profilPicture {
                position: relative;
            }

            .img {
                object-fit: cover;
                width: 200px;
                max-width: 100%;
                height: 200px;
                max-height: 100%;
                border-radius: 50%;
                line-height: 50px;
                border: 3px solid $primary-color;
            }

            .btn {
                @include btn;
                position: absolute;
                bottom: 15px;
                right: 10px;
                left: auto;
                font-size: 1em;
                padding: 10px;
                border-radius: 50%;
            }
        }

        .info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .name {
                display: flex;
                justify-content: center;
                width: 100%;
                font-size: 2em;
                margin: 0px;
            }

            .bio {
                color: $secondary-color;
            }
        }
    }

    .postsTitle {
        @include flex;
        @include shadow;
        justify-content: center;
        width: 100%;
        max-width: 800px;
        margin: 60px auto 30px auto;
        font-size: 1.3em;
        padding: 20px 0;
        border-radius: 5px;
    }

    .userPosts {
        @include flex;
        @include shadow;
        flex-flow: column nowrap;
        max-width: 800px;
        width: 100%;
        margin: 30px auto;
        padding: 20px 40px;
        border-radius: 5px;

        .postTitle {
            font-size: 1.5em;
            font-weight: bold;
        }

        .content {
            margin-top: 40px;
            margin-bottom: 30px;
        }

        .createdAt {
            display: flex;
            justify-content: flex-end;
            font-size: 1em;
            font-weight: 400;
            color: $secondary-color;
        }
    }
}

@include for-phone {
    .container {
        padding: 80px 20px;

        .userProfil {
            .userButton {
                justify-content: space-around;
                font-size: 0.9em;
                .btn {
                    padding: 5px;
                    margin-left: 0px;
                }
            }

            .cover {
                .img {
                    width: 125px;
                    height: 125px;
                }

                .btn {
                    bottom: 0px;
                    right: 5px;
                }
            }

            .info {
                text-align: center;
                .name {
                    font-size: 1.6em;
                }
            }
        }

        .postsTitle {
            margin: 50px auto 0 auto;
            h2 {
                font-size: 1.5em;
            }
        }

        .userPosts {
            .content {
                margin-bottom: 25px;
                margin-top: 25px;
            }

            .createdAt {
                display: flex;
                justify-content: flex-end;
                font-size: 1em;
                font-weight: 400;
                color: $secondary-color;
            }
        }
    }
}
