@import "../../scss/_mixins.scss";
@import "../../scss/_variables.scss";

.container {
    @include flex;
    @include shadow;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    flex-flow: row wrap;
    max-width: 1000px;
    padding: 30px;

    .title {
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }

    .btn {
        @include btn;
        margin: 20px 20px;

        svg {
            margin-right: 10px;
        }

        a {
            color: white;
            text-align: center;
            vertical-align: baseline;
        }
    }
}
