@mixin for-phone {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        @content;
    }
}

@mixin for-tablet {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin for-desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin shadow {
    box-shadow: 0 4px 8px 0 #aaaaaa70;
}

@mixin flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@mixin pushToBottom {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
