@import "./_mixins.scss";
@import "./_variables.scss";

body {
    padding: 0;
    margin: 0;
}

*,
*:focus,
*:hover {
    outline: none;
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

img {
    object-fit: contain;
}

#root {
    @include pushToBottom;
}

button:focus {
    outline: none;
}
